<p id="notice"><%= notice %></p>

<p>
  <b>Menu:</b>
  <%= @osinagaki.menu %>
</p>

<p>
  <b>Price:</b>
  <%= @osinagaki.price %>
</p>


<%= link_to 'Edit', edit_osinagaki_path(@osinagaki) %> |
<%= link_to 'Back', osinagakis_path %>
